.md-typeset p {
    font-size: 16px;
}

/*.md-typeset h1 {
    font-weight: bold;
    line-height: 35px;
}

.md-typeset h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}*/

.md-typeset ul {
  font-size: 15px;
}

@media only screen and (max-width: 768px) {
.md-grid {
  margin-right: 20px;
  margin-left: 20px; 
}
}

.md-header--shadow {
  box-shadow: 0 0 .2rem #ffffffff, 0 .2rem .4rem #ffff;
}