.md-typeset p {
    font-size: 16px;
}

/*.md-typeset h1 {
    font-weight: bold;
    line-height: 35px;
}

.md-typeset h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}*/

.md-typeset ul {
  font-size: 15px;
}

@media only screen and (max-width: 768px) {
.md-grid {
  margin-right: 20px;
  margin-left: 20px; 
}
}

@font-face {
  font-family: "Boon";
  src: "Boon-Regular.woff2";
}

:root {
  --md-text-font: "Boon"; 
}